#gato td {
  border: thin solid black;
  font-size: 300%;
  height: 1em;
  padding: 1em;
  width: 1em;
}

#barra {
  background: black;
  height: 50px;
  margin-top: 1em;
  width: 125%;
}

#caja {
  background: black;
  height: 200px;
  position: relative;
  width: 200px;
}

#subir {
  bottom: 0;
  font-size: 3em;
  opacity: 0;
  position: fixed;
  right: 0;
}